img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: Song Myung;
	margin-left: 1.66%;
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 3px solid #f1f1f1;
	margin-top: 10px;

}

footer {
	font-family: Song Myung;
	text-align: center;
}